.bigbanner {
	background-image: url("img/big_banner.png");
}

















@media (min-width: 768px) and (max-width: 825px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
